@media (min-width: 100px) and (max-width: 1000.98px) {
  .container {
    display: flex;
  }
}
.container {
  margin-right: 0px;
}

.col-lg-12,
.col-md-6,
.col-md-3 {
  color: blue;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.card-img-top {
  width: 100%;
  height: 190px;
}

.form-control {
  padding-bottom: 20px;
}
.form-check {
  margin-left: 20px;
}
