.container-fluid {
  margin-top: 100px;
}
h1 {
  color: indigo;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 30px;
  text-align: center;
}
.images1 {
  height: 60vh;
}
.card {
  background-color: limegreen;
}
@media (max-width: 1000.98px) {
  .container-fluid {
    display: block;
  }
}
